html {
    overflow-y: scroll;
}

/* puzzle layout */
.puzzle-item {
    position: relative;
    overflow-y: hidden;
    background-size: cover;
    background-position: center;
}

.puzzle-1 .puzzle-item {
    width: 100%;
    height: 100%;
}

.puzzle-2 {
    position: relative;
}

.puzzle-2 .puzzle-item {
    width: 66.66%;
    height: 100%;
}

.puzzle-2 .puzzle-item:first-child {
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
            clip-path: url(clip.svg#clip1);
}

.puzzle-2 .puzzle-item:last-child {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: url(clip.svg#clip2);
}

.puzzle-3 {
    position: relative;
}

.puzzle-3 .puzzle-item:nth-child(1) {
    float: left;
}

.puzzle-3 .puzzle-item:nth-child(n+2) {
    float: right;
}

.puzzle-4 .puzzle-item {
    float: left;
    width: 50%;
    height: 50%;
}

.puzzle-5 {
    position: relative;
}

.puzzle-5 .puzzle-item {
    float: left;
}

.puzzle-5 .puzzle-item:nth-child(1) {
    width: 66.66%;
    height: 66.66%;
}
.puzzle-5 .puzzle-item:nth-child(2) {
    padding-bottom: 33.33%;
    width: 33.33%;
    height: 0;
}
.puzzle-5 .puzzle-item:nth-child(3) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 33.33%;
    height: 33.33%;
}
.puzzle-5 .puzzle-item:nth-child(4) {
    position: absolute;
    left: 33.33%;
    bottom: 0;
    width: 33.33%;
    height: 33.33%;
}
.puzzle-5 .puzzle-item:nth-child(5) {
    position: absolute;
    left: 66.66%;
    bottom: 0;
}

.puzzle-6 .puzzle-item {
    float: left;
}

.puzzle-6 .puzzle-item:nth-child(1) {
    width: 66.67%;
    height: 66.66%;
}

.puzzle-6 .puzzle-item:nth-child(n+2) {
    float: right;
    width: 33.33%;
    height: 33.33%;
}

/* waterfall layout */
.waterfall {
    position: relative;
    margin: 0 auto;
    min-height: 100px;
    text-align: center;
}

.waterfall-col {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.waterfall-col:last-child {
    margin-right: 0 !important;
}

.waterfall-item,
.barrel-item {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
       -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}

.puzzle-item,
.waterfall-item,
.barrel-item {
    cursor: zoom-in;
}

.waterfall-item img {
    vertical-align: top;
}

.img-delete {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;
    background-color: #e51c23;
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: pointer;
    text-align: center;
    line-height: 36px;
    color: #fff;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
}

.puzzle-item:hover .img-delete,
.waterfall-item:hover .img-delete,
.barrel-item:hover .img-delete {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}

/* barrel layout */
.barrel-row {
    text-align: left;
}

.barrel-item {
    vertical-align: top;
    display: inline-block;
    height: 100%;
}

.barrel-item:last-child {
    margin-right: 0 !important;
}

.barrel-item img {
    display: block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s all ease-in;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
    cursor: zoom-out;
}

.modal.show {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}

.modal-mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.modal-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    transition: 0.2s all ease-in 0.4s;
}

.show .modal-img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

.prev,
.next {
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    border-style: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}

.prev:hover,
.next:hover {
    background-color: #000;
}

.prev {
    left: 0;
    background-image: url(../img/arrow_pre.png);
}

.next {
    right: 0;
    background-image: url(../img/arrow_next.png);
}